<!DOCTYPE html>
<html lang="en">


<body class="container">

<div style="text-align: center">
    <img src= "http://localhost:3001/public/img/mascot.png" alt = Mascot"">
    <h1>Pizza Shop</h1>
</div>
<main style="padding: 20px; text-align: center; border: 5px solid orange; margin: 5px">
    <div class="login">
        <form method="post">
            <label for="email"><b>Username</b></label>
                <input type="text" placeholder="Enter email" name="email" required style="margin-bottom: 5px;">
            <br>
            <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required style = "margin-bottom: 8px;">
            <br>
            <button type="submit" style="text-align: center">Login</button>
            <p style="text-align: right"><a href="http://localhost:3000/register">Create an account</a> </p>

        </form>

    </div>
</main>

</body>
<footer>
    <p style="text-align: center">Copyright 2019 Roshan Sreekanth R00170592</p>

</footer>
